<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="description" content="Talares is a Scala and Java library that leverages the Tridion OData webservice
      to make Tridion content available in Scala and Java projects.">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link href="css/foundation.css" rel="stylesheet">
  </head>
  <body class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      {% include header.html %}
      {% include mobile-header.html %}
      {% include side-nav.html %}
      {% include mobile-side-nav.html %}
      <section role="main" class="large-9 medium-8 columns">
        {{ content }}
        {% include footer.html %}
      </section>
      <a class="exit-off-canvas"></a>
    </div>
    <a href="https://github.com/talares/talares">
      <img style="position: fixed; top: 0; right: 0; border: 0;"
           src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67"
           alt="Fork me on GitHub"
           data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png">
    </a>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/foundation.js"></script>
    <script src="js/foundation.offcanvas.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $(document).foundation();
      });
    </script>
  </body>
</html>