<li><a href="index.html">Talares</a></li>
<li><a href="prerequisites.html">Prerequisites</a></li>
<li><a href="installation.html">Installation</a></li>
<li><a href="configuration.html">Configuration</a></li>
<li>
  <a href="usage.html">Usage</a>
  <ul>
    <li><a href="usage.html#data-types">Data types</a></li>
    <li><a href="usage.html#deferred-values">Deferred values</a></li>
    <li><a href="usage.html#cleaning-up">Cleaning up</a></li>
  </ul>
</li>
<li>
  <a href="cache.html">Cache</a>
  <ul>
    <li><a href="cache.html#no-cache">No cache</a></li>
    <li><a href="cache.html#simple-cache">Simple cache</a></li>
    <li><a href="cache.html#auto-update-cache">Auto update cache</a></li>
  </ul>
</li>
<li><a href="query-dsl.html">Scala OData query DSL</a></li>
<li><a href="blocking.html">Java blocking / non-blocking</a></li>
<li><a href="contributing.html">Contributing</a></li>
<li><a href="license.html">License</a></li>
<li><a href="acknowledgments.html">Acknowledgments</a></li>